absl-py
astunparse
backoff
certifi
charset-normalizer
flake8
flatbuffers
gast
geopandas
google-pasta
grpcio
h5py
idna
iniconfig
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mccabe
mdurl
ml-dtypes
namex
numpy
opt_einsum
optree
osmnx
packaging
pandas
pluggy
protobuf
pycodestyle
pyflakes
Pygments
pyogrio
pyproj
pytest
python-dateutil
python-dotenv
pytz
rasterio
rasterstats
requests
rich
scikit-learn
scipy
selenium
setuptools
shapely
six
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt
